{% block an_googlepageloader_list %}
    <sw-page class="areanet-google-fonts-loader-list">
        {% block an_googlepageloader_list_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button variant="primary" :routerLink="{ name: 'areanet.google.fonts.loader.create' }">
                    {{ $tc('areanet-google-fonts-loader.list.addButtonText') }}
                </sw-button>
            </template>
        {% endblock %}

        <template #content>
            <sw-entity-listing
                    v-if="items"
                    :repository="fontRepository"
                    :columns="columns"
                    :items="items"
                    :isLoading="isLoading"
                    ref="listing"
                    detailRoute="areanet.google.fonts.loader.detail"
            >
                <template #column-downloaded="{ item }">
                    <span v-if="item.downloaded">{{ $t('areanet-google-fonts-loader.list.downloadedTrue') }}</span>
                    <span v-else>{{ $t('areanet-google-fonts-loader.list.downloadedFalse') }}</span>
                </template>

                <template #column-salesChannel="{ item }">
                    <div v-if="item.salesChannels && item.salesChannels.length">
                        {{ item.salesChannels.map(salesChannel => salesChannel.salesChannel.translated.name).join(', ') }}
                    </div>
                </template>
            </sw-entity-listing>
        </template>}}
    </sw-page>
{% endblock %}
